
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logotransparente.png" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#proyectos">Principales proyectos</a>
      <a class="nav-item nav-link" href="#comofunciona">Cómo funciona</a>
      <a class="nav-item nav-link" href="#porque">Por qué somos tu puente</a>
      <a class="nav-item nav-link" href="#quienessomos">Quiénes somos</a>
    </div>
  </div>
</nav>
